body {
    font-family: sans-serif;
    background-color: #f9f9f9;
}
.header1 {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 40px;
    align-items: center;
    gap: 32px;
    margin-bottom: 22px;
}
.search-box input {
    border: none;
}
.search-box {
    border: 1px solid #DFDFDF;
    padding: 12px 12.5px;
    width: 350px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-box2 {
    border: 1px solid #DFDFDF;
    padding: 12px 12.5px;
    width: 350px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.search-box2 input {
    border: none;
    background-color: #111928;
}
.Search12 {
    Line-height: 100%;
}
.Logo2 {
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav2 a:hover  {
    text-decoration: none;
    color: #5c53e9;
    font-weight: 400;
    font-size: 14px;
    Line-height: 100%;
}
.nav2 a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    Line-height: 100%;
    gap: 48px;
}
.nav2 {
    display: flex;
    gap: 48px;
}
.nav3 {
    display: flex;
    gap: 48px;
}
.nav3 a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    Line-height: 100%;
    gap: 48px;
}
.nav3 a:hover {
    text-decoration: none;
    color: #5c53e9;
    font-weight: 400;
    font-size: 14px;
    Line-height: 100%;
}
.nav4 a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    Line-height: 100%;
    gap: 48px;
}
.nav4 {
    display: flex;
    gap: 50px;
}
.nav5 a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    Line-height: 100%;
    gap: 48px;
}
.nav5 {
    display: flex;
    gap: 50px;
}
.search1 {
    border: 1px;
    background-color: #F0F0F0;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search {
    width: 20px;
    height: 20px;
}
.shopping1 {
    border: 1px;
    background-color: #F0F0F0;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search2 {
    width: 33px;
    height: 24px;
}
.buttons {
    align-items: center;
    display: flex;
    gap: 6px;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav1 a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    Line-height: 100%;
}
.nav1 a:hover {
    text-decoration: none;
    color: #5c53e9;
    font-weight: 400;
    font-size: 14px;
    Line-height: 100%;
}
.nav1 {
    gap: 40px;
    display: flex;
}
.btn1 {
    padding: 12px 12px;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
}
.btn2 {
    border-radius: 8px;
    padding: 10px;
    gap: 6px;
    width: 66px;
    Height: 40px;
    background-color: #5C53E9;
    color: #ffffff;
    border-color: #5C53E9;
}
.header2 {
    display: flex;
    align-items: center;
    background-color:#FFFFFF;
    margin-bottom: 22px;
    padding: 20px 48px;
    justify-content: space-between;
    border-bottom: 1.5px solid #EEF0F3;
    
}
.header3 {
    display: flex;
    align-items: center;
    background-color:#fff;
    margin-bottom: 22px;
    padding: 20px 48px;
    justify-content: space-between;
    border-bottom: 1.5px solid #EEF0F3;
}
.header4 {
    display: flex;
    align-items: center;
    background-color:#fff;
    margin-bottom: 22px;
    padding: 20px 48px;
    justify-content: space-between;
    border-bottom: 1.5px solid #EEF0F3;
    background-color: #111928;
    border-radius: 10px;
}
.header5 {
    display: flex;
    align-items: center;
    background-color:#fff;
    margin-bottom: 22px;
    padding: 20px 48px;
    justify-content: space-between;
    border-bottom: 1.5px solid #EEF0F3;
    background-color: #111928;
    border-radius: 10px;
}
